.select {
    width:fit-content;
    padding: 10px 0px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width:fit-content;
    text-align: center;
    cursor: pointer;
    padding: 10px 0px 10px 0px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
  }