.home-container {
  display: flex;
  flex-direction: column;
  /*     align-items:center;
    justify-content: center; */
  min-height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  background-position: center;
}

.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* For screens smaller than 600px */
@media (max-width: 700px) {
  .list-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .mobile-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 700px) {
  .mobile-table {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .desktop-table {
    display: none;
  }
}


.home-button {
  width: fit-content;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin: 15px;
  cursor: pointer;
}

.git-button {
  width: fit-content;
  align-items: center;
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin: 10px;
  cursor: pointer;
}

.list {
  flex: 1;
  width: 100%;
}

.name {
  color: blue;
}

.name-list {  
  margin-top: 15px;
  margin-bottom: 25px;
  color: blue;
}

.result-text {
  font-size: 22px;
  font-style: italic;
  width: 90%;
  text-align: center;
  margin-bottom: 20px;
}

.list-text {
  list-style-type: none;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  width: 80%;
  text-align: left;
  padding: 5px 10px 5px 35px;
  margin: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

h3, h4 {
  margin: 5px;
}
